* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  width: 100%;
  font-family: "Press Start 2P";
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  width: 80%;
  flex-direction: column;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

h1 {
  margin: 30px;
}

.game-box {
  display: flex;
}
.warning-box {
  margin-bottom: 3em;
}

.score,
.highscore {
  margin-bottom: 2em;
}

input {
  padding: 30px;
  background-color: grey;
  border: 4px solid white;
  margin-bottom: 2em;
  font-family: "Press Start 2P";
  width: 6em;
  font-size: 2em;
  text-align: center;
}

.check-btn {
  padding: 20px;
  width: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 2px;
}

.stats-container {
  padding: 2em;
}
.guess-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
.number {
  background-color: white;
  width: 5em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  margin: 2em;
}

.btn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.744);
}
.btn {
  transition: 0.15s;
}
.btn:active {
  color: white;
  background-color: black;
}

.again-btn {
  padding: 20px;
  width: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 2px;
}

input:focus{
    border: 4px solid white;
    outline: none;
}