* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  
body {
    height: 100%;
    font-family: "Press Start 2P";
}

.container{
    display: flex;
    justify-content: center;

    flex-direction: column;

}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.game-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}


.game-box{
    display: flex;
    gap: 200px;
}